<!doctype html>
<html lang="en">

<head>
    <title>IIIT Dharwad</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="keywords" content="html, css, javascript, jquery">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/vendor/icomoon/style.css">
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="css/vendor/animate.min.css">
    <link rel="stylesheet" href="css/vendor/aos.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/jquery.fancybox.min.css">

    <!--scripts-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/all-plugins.js"></script>
    <script type="text/javascript" src="js/plugins-activate.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/team.css">

</head>

<body data-spy="scroll" data-target=".site-nav-target" data-offset="200" class="first_div">

    <nav class="unslate_co--site-mobile-menu container second_div">
        <div class="close-wrap d-flex">
            <a href="#" class="d-flex ml-auto js-menu-toggle">
                <span class="close-label">Close</span>
                <div class="close-times">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                </div>
            </a>
        </div>
        <div class="site-mobile-inner"></div>
    </nav>

    <div class="unslate_co--site-wrap">

        <div class="unslate_co--site-inner">

            <div class="lines-wrap">
                <div class="lines-inner">
                    <div class="lines"></div>
                </div>
            </div>
            <!-- END lines -->

            <nav class="unslate_co--site-nav site-nav-target second_div">

                <div class="container">

                    <div class="row align-items-center justify-content-between text-left">
                        <div class="col-md-5 text-right">
                            <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                                <li>
                                    <a href="#home-section" class="nav-link">Home</a>
                                </li>
                                <li><a href="#portfolio-section" class="nav-link">Events</a></li>
                                <li><a href="#about-section" class="nav-link">About Us</a></li>
                            </ul>
                        </div>
                        <div class="site-logo pos-absolute">
                            <a href="index.html" class="unslate_co--site-logo">IRIS<span>.</span></a>
                        </div>
                        <div class="col-md-5 text-right text-lg-left">
                            <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">

                                <li><a href="#Testimonials" class="nav-link">Team</a></li>

                                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                            </ul>

                            <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                                <li><a href="#" class="js-menu-toggle">Menu</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

            </nav>
            <!-- END nav -->
            <div class="cover-v1 jarallax" style="background-image: url('images/concept-4447469_1920.jpg');" id="home-section">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-md-7 mx-auto text-center">
                            <h1 class="heading gsap-reveal-hero">IRIS</h1>
                            <h2 class="subheading gsap-reveal-hero">Robotics Club of IIIT Dharwad</h2>
                        </div>

                    </div>
                </div>


                <a href="#portfolio-section" class="mouse-wrap smoothscroll">
                    <span class="mouse">
                        <span class="scroll"></span>
                    </span>
                    <span class="mouse-label">Scroll</span>
                </a>

            </div>
            <!-- END .cover-v1 -->

            <div class="unslate_co--section" id="portfolio-section">
                <div class="container">


                    <div class="relative">
                        <div class="loader-portfolio-wrap">
                            <div class="loader-portfolio"></div>
                        </div>
                    </div>
                    <div id="portfolio-single-holder"></div>

                    <div class="portfolio-wrapper">

                        <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
                            <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Events</span></h2>
                        </div>


                        <div id="posts" class="row gutter-isotope-item owl-carousel ">
                            <% var i=0;var link="" %>
                                <% for(i=0;i<event.length;i++){ %>
                                    <% link="/event/"+event[i][0] %>

                                        <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                                            <a href="<%= link %>" class="portfolio-item  isotope-item gsap-reveal-img" data-id="1">
                                                <div class="overlay">
                                                    <span class="wrap-icon icon-link2"></span>
                                                    <div class="portfolio-item-content">
                                                        <h3>
                                                            <%= event[i][4] %>
                                                        </h3>
                                                        <p>Date:
                                                            <%= event[i][1] %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <img src="images/roboconMain.jpg" class="lazyload  img-fluid" alt="Images" />
                                            </a>
                                        </div>
                                        <% } %>

                        </div>

                    </div>


                </div>
            </div>

            <div class="unslate_co--section">
                <div class="container">
                    <div class="owl-carousel logo-slider">
                        <div class="logo-v1 gsap-reveal">
                            <img src="images-unfold/logo-google.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="logo-v1 gsap-reveal">
                            <img src="images-unfold/logo-puma.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="logo-v1 gsap-reveal">
                            <img src="images-unfold/logo-paypal.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="logo-v1 gsap-reveal">
                            <img src="images-unfold/logo-adobe.png" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>


            <div class="unslate_co--section" id="about-section">
                <div class="container">

                    <div class="section-heading-wrap text-center mb-5">
                        <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Us</span></h2>
                        <span class="gsap-reveal">
                            <img src="images-unfold/divider.png" alt="divider" width="76">
                        </span>
                    </div>


                    <div class="row mt-5 justify-content-between">
                        <div class="col-lg-7 mb-5 mb-lg-0">
                            <figure class="dotted-bg gsap-reveal-img ">
                                <video width="100%" height="100%" controls id='aboutVideo'>

                                    <source src="videos/promo.mp4" type="video/mp4">
                                  
  
                                  </video>
                            </figure>
                        </div>
                        <div class="col-lg-4 pr-lg-5">
                            <h3 class="mb-4 heading-h3"><span class="gsap-reveal">We can make it together</span></h3>
                            <p class="lead gsap-reveal">We the members of IRIS here believe that anyone can learn robotics through the persevearance of oneself. </p>
                            <p class="mb-4 gsap-reveal">We believe the one way of learning something is by experimenting through it and here we present some of our
                                <a href="/projectList">projects</a> for that .</p>
                            <p class=" gsap-reveal "><a href="# " class="btn btn-outline-pill btn-custom-light ">Download our Projects List</a></p>
                        </div>
                    </div>
                </div>

            </div>



            <div class="unslate_co--section" style="  background-color: #fafafa;">
                <div class="container">
                    <div class="section-heading-wrap text-center mb-5">
                        <h2 class="heading-h2 text-center divider"><span class="gsap-reveal m-2" style="background-color: #000000;">Our Team</span></h2>
                        <span class="gsap-reveal m-2" style="background-color: #000000;">
                            <img src="images-unfold/divider.png" alt="divider" width="76">
                        </span>
                    </div>
                    <section class="content-section" id="Testimonials">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="customers-testimonials" class="owl-carousel">

                                        <% var i=0;var t="" %>
                                            <% for(i=0;i<member.length;i++){ %>
                                                <% t="images/Members/"+member[i][1] %>
                                                    <div class="item">
                                                        <div class="shadow-effect">
                                                            <% t="images/Members/"+member[i][1] %>
                                                                <img src=<%=t %> alt="" class="img-circle">

                                                                <p style="color: #49CCBA;">
                                                                    <%= member[i][2] %>
                                                                </p>
                                                                <div class="d-flex flex-row justify-content-center">
                                                                    <div class="p-4">
                                                                        <% if((member[i][4]).toString()!="no"){ %>
                                                                            <a href="<%= member[i][4] %>">
                                                                                <i class=" fa fa-github "></i>
                                                                            </a>
                                                                            <%  } %>
                                                                    </div>

                                                                    <div class="p-4 ">
                                                                        <% if((member[i][5]).toString()!="no"){ %>
                                                                            <a href="<%= member[i][5] %>">
                                                                                <i class=" fa fa-linkedin "></i>
                                                                            </a>
                                                                            <%  } %>
                                                                    </div>

                                                                </div>
                                                        </div>

                                                        <div class="testimonial-name ">
                                                            <%= member[i][3] %>
                                                        </div>

                                                    </div>

                                                    <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END OF TESTIMONIALS -->
                    <!-- END testimonial -->
                </div>
            </div>


            <div class="unslate_co--section" id="contact-section">
                <div class="container">
                    <div class="section-heading-wrap text-center mb-5">
                        <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
                        <span class="gsap-reveal"><img src="images-unfold/divider.png " alt="divider " width="76 "></span>
                    </div>


                    <div class="row justify-content-between">

                        <div class="col-md-6">
                            <form method="post" class="form-outline-style-v1" id="contactForm">
                                <div class="form-group row mb-0">

                                    <div class="col-lg-6 form-group gsap-reveal">
                                        <label for="name">Name</label>
                                        <input name="name" type="text" class="form-control" id="name">
                                    </div>
                                    <div class="col-lg-6 form-group gsap-reveal">
                                        <label for="email">Email</label>
                                        <input name="email" type="email" class="form-control" id="email">
                                    </div>
                                    <div class="col-lg-12 form-group gsap-reveal">
                                        <label for="message">Write your message...</label>
                                        <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row gsap-reveal">
                                    <div class="col-md-12 d-flex align-items-center">
                                        <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Send Message">
                                        <span class="submitting"></span>
                                    </div>
                                </div>
                            </form>
                            <% if(typeof(color) === 'undefined') { %>
                                <% }else{ %>
                                    <% if(color==3){ %>
                                        <div id="form-message-warning" class="mt-4">
                                            <% if(typeof(reply) === 'undefined') { %>
                                                <% }else{ %>
                                                    <%= reply %>
                                                        <% } %>
                                        </div>
                                        <% } else {  %>
                                            <div id="form-message-success">
                                                <% if(typeof(reply) === 'undefined') { %>
                                                    <% }else{ %>
                                                        <%= reply %>
                                                            <% } %>
                                            </div>
                                            <% } %>
                                                <% } %>


                        </div>

                        <div class="col-md-4">
                            <div class="contact-info-v1">
                                <div class="gsap-reveal d-block">
                                    <span class="d-block contact-info-label">Email</span>
                                    <a href="#" class="contact-info-val">iiitdwd.ac.in</a>
                                </div>
                                <div class="gsap-reveal d-block">
                                    <span class="d-block contact-info-label">Phone</span>
                                    <a href="#" class="contact-info-val">+12 345 6789 012</a>
                                </div>
                                <div class="gsap-reveal d-block">
                                    <span class="d-block contact-info-label">Address</span>
                                    <address class="contact-info-val">92VG+54 Joga Yellapur, Karnataka<br> 
                                    </address>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END .unslate_co-site-inner -->

        <footer class="unslate_co--footer unslate_co--section ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-md-7 ">

                        <div class="footer-site-logo "><a href="# ">IRIS<span>.</span></a></div>

                        <ul class="footer-site-social ">
                            <li><a href="# ">Facebook</a></li>
                            <li><a href="# ">Twitter</a></li>
                            <li><a href="# ">Instagram</a></li>
                        </ul>

                        <p class="site-copyright ">
                            Copyright &copy;2020 All rights reserved |
                            <span>IRIS</span> </p>

                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
        <div class="site-loader"></div>
    </div>

    <script src="js/scripts-dist.js"></script>
    <script src="js/main.js"></script>
    <script>
        var vid = document.getElementById("myVideo");
        vid.autoplay = true;
        vid.load();
        $(document).ready(function() {
            $(".second_div").css({
                'width': ($(".first_div").width() + 'px')
            });
        });
    </script>

</body>

</html>